<app-header></app-header>

<div class="body">

 
    <div class="card" *ngFor=" let prod of product">
        <div class="imageBox">
          <img src="{{prod.images[0]}}" alt="">
        </div>
        <section class="details">
          <div class="min-details">
            <h3>{{prod.title}}</h3>
            <h3 class="price">${{prod.price}}</h3>
          </div>
      
         
          <a  class="btn" (click)="addToCart()" >add to cart</a>
          <a [routerLink]="['/product', product.id]" (click)="viewProduct()"> View Details</a>
        </section>
      </div>
</div>