
<div class="header-tag">
    <h3> New Collection For</h3>
</div>
<br>
<div class="card-top container-fluid">
   
    <div class="container d-flex">

       
        <div class="item">
            <a routerLink="/productss/smartphones" (click)="onViewCatagory(catagoryProd)">
                <h6  style="cursor: pointer;">Women</h6>
                <img style="cursor: pointer;" src="../../../assets/banner-01.jpg" alt="">
                
            </a>
        </div>
        <div class="item">
            <a routerLink="/productss/furniture" (click)="onViewCatagory(catagoryProd)">
                <h6  style="cursor: pointer;">FURNITURE</h6>
                <img  style="cursor: pointer;" src="../../../assets/why-choose-us-img.jpg" alt="">
                
            </a>
        </div>
        <div class="item">
            <a routerLink="/productss/beauty" (click)="onViewCatagory(catagoryProd)">

                <h6  style="cursor: pointer;">Beauty</h6>
                <img  style="cursor: pointer;" src="../../../assets/banner-03.jpg" alt="">
               
            </a>
        </div>
        
    </div>
</div> 






                       
               